
.lead{
font-family:'Lobster', cursive;
}
.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 7rem;
  padding-right: 10rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
}

.features-icons .features-icons-item .features-icons-icon{
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon {
  font-size: 5rem;
}
.mast-bg {
      background-color:#4062BB;
}
