<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kulim Park' rel='stylesheet'>
  </head>
  <body>
	  
	  <div class="text-center">
  <div class="spinner-grow" style="width: 10rem; height: 10rem; color:darkblue; "role="status">
    <span class="sr-only">Loading...</span>
  </div>
	<h1 style="font-family: 'Kavoon';font-size: 75px">{{ name }}</h1>
	<br><br>
	<h2 style="font-family: 'Kulim Park';font-size: 22px; margin-left: 100px; margin-right: 100px;">We Are currently working on the development of a valid download system with the entire team working extra hours. This part of the project will be ready soon.</h2>
	<hr style="border:1px dashed #C0C0C0; ">
	<h4>A few ways to download the Slender Resumes</h4>
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-title">Snipping Tool</h5>
					<h6 class="card-subtitle mb-2 text-muted">The First Option</h6>
					<p class="card-text">Snipping tool can be found in windows, just type it in the Taskbar.</p>
    
  				</div>
			</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-title">Screeenshot</h5>
					<h6 class="card-subtitle mb-2 text-muted">The Second Option</h6>
					<p class="card-text">Can be an amazingly easy way to take a picture of the screen. </p>
    
  				</div>
			</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
				  <div class="card-body">
					<h5 class="card-title">Webtools </h5>
					<h6 class="card-subtitle mb-2 text-muted">The First Option</h6>
					<p class="card-text">There are a plenty of web tools that allow you to take splendid screenshots.</p>
    
  				</div>
			</div>
			</div>
		  </div>
</div>

  	<!-- body code goes here -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>