{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <br>
        <br>
        <br>
        <p class="lead">
          <div class="img-container"> 
            <img src="/static/hpp.jpg" style='height: 100%; width: 100%; object-fit: contain'>
          </div>
            <p style="font-family: 'Amarante', cursive;font-weight: bold; font-size: 26px">
            Have You Been defeated by a Resume, Trying to make yourself one or just
            handing yourself some experience, SlendEr is all you Need.
            With Over 20 templates to support you,
            lifetime service and costumer-care services 24/7,
            SlendEr is the best Way to make a Resume.And above all,
            the entire program is Free!So What are you waiting for,make your first Resume Today</p>
          
          <button type="button" class="btn btn-primary">Get Started!</button>
      </div>
    </div>
  </div>
<div class="container">  
<div class="features-icons text-center">
      
      <div class="row">
        <div class="col-md-4">
            <img src="static/resume1_small.svg">
            <h3 style="padding-top: 10px font-weight: bold; font-family: 'Lobster'">Fill up the Form!</h3>
        </div>
        <div class="col-md-4">
            <img src="static/resume2_small.svg">
            <h3 style="padding-top: 10px font-weight: bold; font-family: 'Lobster'">Choose a Template!</h3>
        </div>
        <div class="col-md-4">
          <div>
            <img src="static/Ryan-Taylor-Green-Tick.svg">   
            <h3 style="padding-top: 10px font-weight: bold; font-family: 'Lobster'">Be job-ready with your new resume!</h3>
          </div>
        </div>
      </div>
    </div>
 </div>   
{% endblock content %}
