{% extends "layout.html" %}
{% block content %}
    <div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3 cover-heading text-dark"">Welcome To SlendEr</h1>
        <p class="lead">Have You Been defeated by a Resume, Trying to make yourself one or just
            handing yourself some experience, ________ is all you Need.
            With Over 20 templates to support you,
            lifetime service and costumer-care services 24/7,
            ____ is the best Way to make a Resume. And above all,
            the entire program is Free! What are you waiting for , make your fist Resume Today</p>
      </div>
    </div>
{% endblock content %}
