<header class="masthead bg-primary">
  <div class="container h-100">
    <div class="row h-75 align-items-center">
        <img src="static/resume2_small.svg" style="padding-left: 300px;">
      <div class="col-12 text-center">
        <h1 class="font-weight-light" style="font-family: 'Lobster', cursive;">Resume Generator</h1>
        <p class="lead">
  Have You Been defeated by a Resume, Trying to make yourself one or just
            handing yourself some experience, ________ is all you Need.
            With Over 20 templates to support you,
            lifetime service and costumer-care services 24/7,
            ____ is the best Way to make a Resume.And above all,
            the entire program is Free!So What are you waiting for,make your first Resume Today</p>
      </div>
      <div style="padding-left: 490px;">
          <button type="button" class="btn btn-dark">Get Started!</button>
      </div>
    </div>
  </div>
</header>
