{% extends "layout.html"%}
{% block content %}
  <div class="content-section">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4 mt-1">Register Now!</legend>
        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}

          {% if form.name.errors %}
              {{ form.name(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.name(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.pwd.label(class="form-control-label") }}

          {% if form.pwd.errors %}
              {{ form.pwd(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.pwd.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.pwd(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.age.label(class="form-control-label") }}

          {% if form.age.errors %}
              {{ form.age(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.age.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.age(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.residence.label(class="form-control-label") }}

          {% if form.residence.errors %}
              {{ form.residence(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.residence.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.residence(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.prof.label(class="form-control-label") }}

          {% if form.prof.errors %}
              {{ form.prof(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.prof.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.prof(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.ach1.label(class="form-control-label") }}

          {% if form.ach1.errors %}
              {{ form.ach1(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.ach1.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.ach1(class="form-control form-control-lg") }}
          {% endif %}
          
      </div><div class="form-group">
          {{ form.ach2.label(class="form-control-label") }}

          {% if form.ach2.errors %}
              {{ form.ach2(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.ach2.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.ach2(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.ach3.label(class="form-control-label") }}

          {% if form.ach3.errors %}
              {{ form.ach3(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.ach3.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.ach3(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.ach4.label(class="form-control-label") }}

          {% if form.ach4.errors %}
              {{ form.ach4(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.ach4.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.ach4(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
              <div class="form-group">
          {{ form.jobtitle.label(class="form-control-label") }}

          {% if form.jobtitle.errors %}
              {{ form.jobtitle(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.jobtitle.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.jobtitle(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.employer.label(class="form-control-label") }}

          {% if form.employer.errors %}
              {{ form.employer(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.employer.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.employer(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.schoolname.label(class="form-control-label") }}

          {% if form.schoolname.errors %}
              {{ form.schoolname(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.schoolname.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.schoolname(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.degree.label(class="form-control-label") }}

          {% if form.degree.errors %}
              {{ form.degree(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.degree.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.degree(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.study.label(class="form-control-label") }}

          {% if form.study.errors %}
              {{ form.study(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.study.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.study(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.date.label(class="form-control-label") }}

          {% if form.date.errors %}
              {{ form.date(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.date.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.date(class="form-control form-control-lg") }}
          {% endif %}
          
      </div><div class="form-group">
          {{ form.skill1.label(class="form-control-label") }}

          {% if form.skill1.errors %}
              {{ form.skill1(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.skill1.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.skill1(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.skill2.label(class="form-control-label") }}

          {% if form.skill2.errors %}
              {{ form.skill2(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.skill2.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.skill2(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.skill3.label(class="form-control-label") }}

          {% if form.skill3.errors %}
              {{ form.skill3(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.skill3.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.skill3(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.skill4.label(class="form-control-label") }}

          {% if form.skill4.errors %}
              {{ form.skill4(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.skill4.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.skill4(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.project1.label(class="form-control-label") }}

          {% if form.project1.errors %}
              {{ form.project1(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.project1.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.project1(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.project2.label(class="form-control-label") }}

          {% if form.project2.errors %}
              {{ form.project2(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.project2.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.project2(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.project3.label(class="form-control-label") }}

          {% if form.project3.errors %}
              {{ form.project3(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.project3.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.project3(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      <div class="form-group">
          {{ form.project4.label(class="form-control-label") }}

          {% if form.project4.errors %}
              {{ form.project4(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.project4.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.project4(class="form-control form-control-lg") }}
          {% endif %}
          
      </div>
      </fieldset>
      <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
      </div>
      </form>
  </div>
{% endblock content %}
