
    
    <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Untitled Document</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            
            <!-- Popper JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            
            <!-- Latest compiled JavaScript -->
            <link href="https://fonts.googleapis.com/css?family=Calistoga" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Forum' rel='stylesheet'>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        </head>
        <body class="img-fluid">
        <div class="row" style="background: url(file:///D:/Python/RG/resg/static/bgimg.jpg)">
            <div class="col-lg-3 offset-lg-2"><img src="file:///D:/Python/RG/resg/static/logo.jfif" class="rounded-circle img-thumbnail img-fluid" alt="Image"></div>
            <div class="col-lg-6">
                <h1 class="lead" style="font-size:400%">SlenderBot
                </h1>
                <br>
                <h4 style="font-family:'Forum'; ">Nothing </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
            
        <div class="row">
        <div class="col-lg-2"></div>
                <div class="col-lg-2" style="background-color:#CFCFCF"><br><p style="font-size:125%">Achievements</p></div>
                <div class="col-lg-7">
                    <br>
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-angle-double-right" style="font-size:170%; color:#1CDB1F"></i></div>
                        <div class="col-md-10">
                            <div class="card bg-light pl-3">

                                python core team<br>
                                pythonista core team<br>
                                !!this is fake news!!<br>
                                i am donald trump and I uprove this message<br>

                            </div>
                    </div>
                </div>
                </div>
        </div>
            <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-2" style="background-color:#CFCFCF"><br><p style="font-size:125%">Skills</p></div>
            <div class="col-lg-7">
                <br>
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-angle-double-right" style="font-size:170%; color:#1CDB1F"></i></div>
                        <div class="col-md-10">
                            <div class="card bg-light pl-3">

                                TP<br>
                                TP<br>
                                TP<br>
                                TP <br>

                            </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-2" style="background-color:#CFCFCF"><br><p style="font-size:125%">Projects</p></div>
                <div class="col-lg-7">
                    <br>
                <div class="row">
                    <div class="col-md-1"><i class="fas fa-angle-double-right" style="font-size:170%; color:#1CDB1F"></i></div>
                        <div class="col-md-10">
                            <div class="card bg-light pl-3">

                                TP<br>
                                TP<br>
                                TP<br>
                                TP <br>

                            </div>
                    </div>
                </div>
                </div>
        </div>
        </div>		
        <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-6">
                        <p>Address</p>
                    </div>
                    <div class="col-md-6">
                        <p>>>>>>India</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Phone No.</p>
                    </div>
                    <div class="col-md-6">
                        <p>+91 999955551</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Jobtitle</p>
                    </div>
                    <div class="col-md-6">
                        <p>Press of USA</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Employer</p>
                    </div>
                    <div class="col-md-6">
                        <p>People of Russia(sorry America)</p>
                    </div>
                </div>
            <hr class="alert-dark">
                <div class="row">
                    <div class="col-md-6">
                        <p>School Name</p>
                    </div>
                    <div class="col-md-6">
                        <p>God knows</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Degree</p>
                    </div>
                    <div class="col-md-6">
                        <p>Absolulety Nothing</p>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-6">
                        <p>Study</p>
                    </div>
                    <div class="col-md-6">
                        <p>Same as above</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Date of Graduation</p>
                    </div>
                    <div class="col-md-6">
                        <p>I didn't graduate</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- body code goes here -->
    </html>