<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="file:///D|/Python/css/bootstrap-4.4.1.css" rel="stylesheet">
	
  </head>
  <body>
	  <div class="container">
		  <div class="row">
			  <div class="col-md-3">
				  <div style="background-color:peachpuff">
					  <div style="text-align: center">
					  <img src="D:\Python\RG\resg\static\logo - small.jfif" class="rounded-circle img-thumbnail img-fluid" alt="Image" ></div>
					  <div class="ml-3">
				  	<h5>Name </h5>
					<p><i>I am a data scientist</i></p>
					<p><i>11 years old.</i></p>
					<p><i>My Residense</i></p>
					<hr>
					<h6>Experience</h6>
					<p><i>Jobtitle</i></p>
					<p><i>Employer</i></p>
					<hr>
						  <h6>Education</h6>
						  <p><i>School Name</i></p>
						  <p><i>Degree</i></p>
						  <p><i>Study</i></p>
						  <p><i>Date of Graduation</i></p>
					  </div>
				  </div>
			  </div>
			  <div class="col-md-9">
				  <div class="row">
					  <div class="col-md-4">
				  <h3 style="color:peru; border-bottom:2px groove #000000; text-align:center">Achievements</h3>
				  <div class="pl-4">
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Got the Medal of Code in India.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Got the Medal of Code in India.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Got the Medal of Code in India.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Got the Medal of Code in India.
					  </p>
			    </div>
			  </div>
			  <div class="col-md-4">
				  <h3 style="color:peru; border-bottom:2px groove #000000; text-align:center">Skills</h3>
				  <div class="pl-4">
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						A Leader.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						A Futurist.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						A Composed person.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						A Learner.
					  </p>
			    </div>
			  </div>
			  <div class="col-md-4">
				  <h3 style="color:peru; border-bottom:2px groove #000000; text-align:center">Projects</h3>
				  <div class="pl-4">
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Made a Selenium webscraper that exploits bugs.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Made a Twitter counterpart. With Greater Features.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Made a beginner friendly code platform for Dart.
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						Made a image detection and modification AI.
					  </p>
			    </div>
			  </div>
				  </div>
				  <div class="row">
				  	<div class="col-md-4">Hardware Managment 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 90%; background-color:yellow" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  	<div class="row">
				  	<div class="col-md-4">Problem Solving 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 80%; background-color:orange" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div><div class="row">
				  	<div class="col-md-4">Data Formatting 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 70%; background-color:darkorange" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  <div class="row">
				  	<div class="col-md-4">Sofware Systems 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 60%; background-color:orangered" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  <div class="row">
				  	<div class="col-md-4">Probability 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 50%; background-color:red" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  	<div class="row">
				  	<div class="col-md-4">AI  💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width:10%; background-color:darkred" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				</div>
		    
		  </div>
	  </div>
  	<!-- body code goes here -->


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  </body>
</html>