{% extends "layout.html" %}
{% block content %}
	<br><br><br><br>
	  <div class="container">
		  <div class="row">
			  <div class="col-md-3">
				  <div style="background-color:peachpuff">
					  <div style="text-align: center">
					  <img src="/static/logo.jfif" class="rounded-circle img-thumbnail img-fluid" alt="Image" ></div>
					  <div class="ml-3">
				  	<h5>{{ current_user.name }}</h5>
					<p><i>{{ current_user.prof }}</i></p>
					<p><i>{{ current_user.age }}</i></p>
					<p><i>{{ current_user.residence }}</i></p>
					<hr>
					<h6>Experience</h6>
					<p><i>{{ current_user.jobtitle }}</i></p>
					<p><i>{{ current_user.employer }}</i></p>
					<hr>
						  <h6>Education</h6>
						  <p><i>{{ current_user.schoolname }}</i></p>
						  <p><i>{{ current_user.degree }}</i></p>
						  <p><i>{{ current_user.study }}</i></p>
						  <p><i>{{ current_user.date }}</i></p>
					  </div>
				  </div>
			  </div>
			  <div class="col-md-9">
				  <div class="row">
					  <div class="col-md-4">
				  <h3 style="color:peru; border-bottom:2px groove #000000; text-align:center">Achievements</h3>
				  <div class="pl-4">
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.ach1}}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.ach2}}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.ach3}}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.ach4}}
					  </p>
			    </div>
			  </div>
			  <div class="col-md-4">
				  <h3 style="color:peru; border-bottom:2px groove #000000; text-align:center">Skills</h3>
				  <div class="pl-4">
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.skills1 }}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.skills2 }}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.skills3 }}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.skills4 }}
					  </p>
			    </div>
			  </div>
			  <div class="col-md-4">
				  <h3 style="color:peru; border-bottom:2px groove #000000; text-align:center">Projects</h3>
				  <div class="pl-4">
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.project1 }}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.project2 }}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.project3 }}
					  </p>
					  <p style="border-left-width:2px; border-left-style: solid; border-left-color: darkgoldenrod; padding-left:3px; ">
						{{ current_user.project4 }}
					  </p>
			    </div>
			  </div>
				  </div>
				  <div class="row">
				  	<div class="col-md-4">Hardware Managment 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 90%; background-color:yellow" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  	<div class="row">
				  	<div class="col-md-4">Problem Solving 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 80%; background-color:orange" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div><div class="row">
				  	<div class="col-md-4">Data Formatting 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 70%; background-color:darkorange" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  <div class="row">
				  	<div class="col-md-4">Sofware Systems 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 60%; background-color:orangered" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  <div class="row">
				  	<div class="col-md-4">Probability 💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 50%; background-color:red" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				  	<div class="row">
				  	<div class="col-md-4">AI  💦</div>
					  <div class="col-md-6">
					  <div class="progress">
						<div class="progress-bar" role="progressbar" style="width:10%; background-color:darkred" aria-valuenow="41" aria-valuemin="10" aria-valuemax="100"></div>
					</div></div>
					 </div>
				</div>
		    
		  </div>
	  </div>
  	<!-- body code goes here -->
{% endblock content %}